<div class="d-flex justify-content-center">
  <div class="col-md-8">
    @if (currentAccount) {
      <form name="form" (ngSubmit)="save()" [formGroup]="settingsForm">
        <h2>
          Cài đặt cho người dùng [<strong>{{ currentAccount.email }}</strong
          >]
        </h2>

        <div class="alert alert-success" *ngIf="success()">
          <strong>Cài đặt đã được lưu!</strong>
        </div>

        <jhi-alert-error />

        <div class="mb-3">
          <label class="form-label" for="firstName">Họ</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="Họ của bạn"
            formControlName="firstName"
            data-cy="firstname"
          />

          @let firstNameRef = settingsForm.get('firstName')!;
          @if (
            firstNameRef.invalid && (firstNameRef.dirty || firstNameRef.touched)
          ) {
            <div>
              @if (firstNameRef?.errors?.required) {
                <small class="form-text text-danger">Họ là bắt buộc.</small>
              }

              @if (firstNameRef?.errors?.minlength) {
                <small class="form-text text-danger"
                  >Họ phải có ít nhất 1 ký tự.</small
                >
              }

              @if (firstNameRef?.errors?.maxlength) {
                <small class="form-text text-danger"
                  >Họ không được dài quá 50 ký tự.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="lastName">Tên</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            placeholder="Tên của bạn"
            formControlName="lastName"
            data-cy="lastname"
          />

          @let lastNameRef = settingsForm.get('lastName')!;
          @if (
            lastNameRef.invalid && (lastNameRef.dirty || lastNameRef.touched)
          ) {
            <div>
              @if (lastNameRef?.errors?.required) {
                <small class="form-text text-danger">Tên là bắt buộc.</small>
              }

              @if (lastNameRef?.errors?.minlength) {
                <small class="form-text text-danger"
                  >Tên phải có ít nhất 1 ký tự.</small
                >
              }

              @if (lastNameRef?.errors?.maxlength) {
                <small class="form-text text-danger"
                  >Tên không được dài quá 50 ký tự.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Email của bạn"
            formControlName="email"
            data-cy="email"
          />

          @let emailRef = settingsForm.get('email')!;
          @if (emailRef.invalid && (emailRef.dirty || emailRef.touched)) {
            <div>
              @if (emailRef?.errors?.required) {
                <small class="form-text text-danger">Email là bắt buộc.</small>
              }

              @if (emailRef?.errors?.email) {
                <small class="form-text text-danger">Email không hợp lệ.</small>
              }

              @if (emailRef?.errors?.minlength) {
                <small class="form-text text-danger"
                  >Email phải có ít nhất 5 ký tự.</small
                >
              }

              @if (emailRef?.errors?.maxlength) {
                <small class="form-text text-danger"
                  >Email không được dài quá 100 ký tự.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="phone">Số điện thoại</label>
          <input
            type="text"
            class="form-control"
            id="phone"
            name="phone"
            placeholder="Số điện thoại của bạn"
            formControlName="phone"
            data-cy="phone"
          />
        </div>

        <button
          type="submit"
          [disabled]="settingsForm.invalid"
          class="btn btn-primary"
          data-cy="submit"
        >
          Lưu
        </button>
      </form>
    }
  </div>
</div>
