<div>
  <h2 id="page-heading" data-cy="ReviewHeading">
    <span>Đánh giá</span>
    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [class.fa-spin]="isLoading"></fa-icon>
        <span>Làm mới danh sách</span>
      </button>
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-review"
        [routerLink]="['/review/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Tạo một đánh giá mới</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>
  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="reviews?.length === 0">
    <span>Không tìm thấy đánh giá nào</span>
  </div>

  <div
    class="table-responsive table-entities"
    id="entities"
    *ngIf="reviews && reviews.length > 0"
  >
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [sortState]="sortState" (sortChange)="load()">
          <th scope="col" jhiSortBy="id">
            <span>ID</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="rating">
            <span>Xếp hạng</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="comment">
            <span>Bình luận</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <span>Ngày tạo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.login">
            <span>Người dùng</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="product.name">
            <span>Sản phẩm</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let review of reviews; trackBy: trackId"
          data-cy="entityTable"
        >
          <td>
            <a [routerLink]="['/review', review.id, 'view']">{{ review.id }}</a>
          </td>
          <td>{{ review.rating }}</td>
          <td>{{ review.comment }}</td>
          <td>{{ review.createdDate | castToDayjs | formatMediumDatetime }}</td>
          <td>{{ review.user?.login }}</td>
          <td>
            <div *ngIf="review.product">
              <a [routerLink]="['/product', review.product.id, 'view']">{{
                review.product.name
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a
                [routerLink]="['/review', review.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Xem</span>
              </a>
              <a
                [routerLink]="['/review', review.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Sửa</span>
              </a>
              <button
                (click)="delete(review)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Xóa</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
