.badge {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0.5rem;

  &.bg-warning {
    background-color: #ffc107 !important;
    color: #000 !important;
  }

  &.bg-info {
    background-color: #0dcaf0 !important;
    color: #000 !important;
  }

  &.bg-primary {
    background-color: #0d6efd !important;
    color: #fff !important;
  }

  &.bg-success {
    background-color: #198754 !important;
    color: #fff !important;
  }

  &.bg-danger {
    background-color: #dc3545 !important;
    color: #fff !important;
  }
}

.table-active {
  background-color: #f8f9fa !important;
}
