<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-4">
      <h1>Đặt lại mật khẩu</h1>

      @if (initialized() && !key()) {
        <div class="alert alert-danger">Khóa đặt lại mật khẩu bị thiếu.</div>
      }

      @if (key() && !success()) {
        <div class="alert alert-warning">
          <span>Chọn một mật khẩu mới</span>
        </div>
      }

      @if (error()) {
        <div class="alert alert-danger">
          <span
            >Mật khẩu của bạn không thể được đặt lại. Yêu cầu đặt lại mật khẩu chỉ có hiệu lực trong 24 giờ.</span
          >
        </div>
      }

      @if (success()) {
        <div class="alert alert-success">
          <span><strong>Mật khẩu của bạn đã được đặt lại.</strong> Vui lòng </span>
          <a class="alert-link" routerLink="/login">đăng nhập</a>.
        </div>
      }

      @if (doNotMatch()) {
        <div class="alert alert-danger">
          Mật khẩu và xác nhận mật khẩu không khớp!
        </div>
      }

      @if (key() && !success()) {
        <div>
          <form
            name="form"
            (ngSubmit)="finishReset()"
            [formGroup]="passwordForm"
          >
            <div class="mb-3">
              <label class="form-label" for="newPassword">Mật khẩu mới</label>
              <input
                type="password"
                class="form-control"
                id="newPassword"
                name="newPassword"
                placeholder="Mật khẩu mới"
                formControlName="newPassword"
                data-cy="resetPassword"
              />

              @let newPasswordRef = passwordForm.get('newPassword')!;
              @if (
                newPasswordRef.invalid &&
                (newPasswordRef.dirty || newPasswordRef.touched)
              ) {
                <div>
                  @if (newPasswordRef?.errors?.required) {
                    <small class="form-text text-danger"
                      >Mật khẩu là bắt buộc.</small
                    >
                  }

                  @if (newPasswordRef?.errors?.minlength) {
                    <small class="form-text text-danger"
                      >Mật khẩu phải có ít nhất 4 ký tự.</small
                    >
                  }

                  @if (newPasswordRef?.errors?.maxlength) {
                    <small class="form-text text-danger"
                      >Mật khẩu không được dài quá 50 ký tự.</small
                    >
                  }
                </div>
              }

              <jhi-password-strength-bar
                [passwordToCheck]="newPasswordRef.value"
              />
            </div>

            <div class="mb-3">
              <label class="form-label" for="confirmPassword"
                >Xác nhận mật khẩu mới</label
              >
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="Xác nhận mật khẩu mới"
                formControlName="confirmPassword"
                data-cy="confirmResetPassword"
              />

              @let confirmPasswordRef = passwordForm.get('confirmPassword')!;
              @if (
                confirmPasswordRef.invalid &&
                (confirmPasswordRef.dirty || confirmPasswordRef.touched)
              ) {
                <div>
                  @if (confirmPasswordRef?.errors?.required) {
                    <small class="form-text text-danger"
                      >Xác nhận mật khẩu là bắt buộc.</small
                    >
                  }

                  @if (confirmPasswordRef?.errors?.minlength) {
                    <small class="form-text text-danger"
                      >Mật khẩu phải có ít nhất 4 ký tự.</small
                    >
                  }

                  @if (confirmPasswordRef?.errors?.maxlength) {
                    <small class="form-text text-danger"
                      >Mật khẩu không được dài quá 50 ký tự.</small
                    >
                  }
                </div>
              }
            </div>

            <button
              type="submit"
              [disabled]="passwordForm.invalid"
              class="btn btn-primary"
              data-cy="submit"
            >
              Lưu mật khẩu mới
            </button>
          </form>
        </div>
      }
    </div>
  </div>
</div>
