<div class="my-orders-container">
  <h2>Đơn hàng của tôi</h2>

  @if (isLoading) {
    <p>Đang tải đơn hàng...</p>
  } @else if (orders.length === 0) {
    <div class="alert alert-warning">Bạn chưa có đơn hàng nào.</div>
  } @else {
    <div class="table-responsive">
      <table class="table table-striped" aria-describedby="my-orders">
        <thead>
          <tr>
            <th scope="col"><span>ID</span></th>
            <th scope="col"><span>Ngày đặt</span></th>
            <th scope="col"><span>Tổng tiền</span></th>
            <th scope="col"><span>Trạng thái</span></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (order of orders; track trackId($index, order)) {
            <tr>
              <td>{{ order.id }}</td>
              <td>{{ formatOrderDate(order.orderDate) }}</td>
              <td>{{ order.totalAmount | currency: 'VND' : 'symbol' : '1.0-0' }}</td>
              <td>{{ order.status }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <button type="submit" [routerLink]="['/order', order.id]" class="btn btn-info btn-sm">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Xem chi tiết</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
