@use 'app/shared/styles/variables' as *;

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  flex: 1;
  padding-top: 80px; /* Adjust based on navbar height */
}
