<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="vi">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Thông báo tạo tài khoản PcNo.1</title>
  </head>
  <body>
    <p>Xin chào <span th:text="${user.email}">User</span>,</p>
    <p>Tài khoản của bạn trên PcNo.1 đã được tạo và kích hoạt</p>
    <p>Bạn có thể đăng nhập tại: <a th:href="@{|${baseUrl}/login|}">Đăng nhập</a></p>
    <p>Trân trọng,</p>
    <p><em>Đội ngũ PcNo.1</em></p>
  </body>
</html>
