<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:lang="${#locale.language}"
  lang="en"
>
  <head>
    <title>Xác nhận đơn hàng</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Kính gửi <span th:text="${order.customerFullName}">Khách hàng</span>,</p>
    <p>Cảm ơn bạn đã đặt hàng tại cửa hàng của chúng tôi!</p>
    <p>
      <span>Mã đơn hàng của bạn là:</span>
      <strong th:text="${order.orderCode}">ORD-12345</strong>
    </p>
    <p>
      <span>Tổng tiền:</span>
      <strong
        th:text="${#numbers.formatDecimal(order.totalAmount, 0, 'COMMA', 0, 'POINT')} + ' VND'"
        >100,000 VND</strong
      >
    </p>
    <p>Chúng tôi sẽ xử lý đơn hàng của bạn sớm nhất có thể.</p>
    <p>
      <span>Trân trọng,</span>
      <br />
      <em>Đội ngũ WebDemo.</em>
    </p>
  </body>
</html>
