<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="vi">
  <head>
    <title>Yêu cầu đặt lại mật khẩu PcNo.1</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Chào <span th:text="${user.email}"></span>,</p>
    <p>Chúng tôi nhận được yêu cầu đặt lại mật khẩu cho tài khoản của bạn. Vui lòng nhấp vào đường link dưới đây để đặt lại mật khẩu:</p>
    <p>
      <a th:href="@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|}">Đặt lại mật khẩu</a>
    </p>
    <p>Nếu bạn không yêu cầu đặt lại mật khẩu, vui lòng bỏ qua email này.</p>
    <p>
      <span>Trân trọng,</span>
      <br />
      <em>Đội ngũ PcNo.1</em>
    </p>
  </body>
</html>
