<div>
  <h2 id="page-heading" data-cy="PaymentHeading">
    <span>Thanh toán</span>
    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [class.fa-spin]="isLoading"></fa-icon>
        <span>Làm mới danh sách</span>
      </button>
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-payment"
        [routerLink]="['/payment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Tạo một thanh toán mới</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>
  <jhi-alert></jhi-alert>

  <div
    class="alert alert-warning"
    id="no-result"
    *ngIf="payments?.length === 0"
  >
    <span>Không tìm thấy thanh toán nào</span>
  </div>

  <div
    class="table-responsive table-entities"
    id="entities"
    *ngIf="payments && payments.length > 0"
  >
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [sortState]="sortState" (sortChange)="load()">
          <th scope="col" jhiSortBy="id">
            <span>ID</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="method">
            <span>Phương thức</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status">
            <span>Trạng thái</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="paidAt">
            <span>Thanh toán lúc</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="amount">
            <span>Số tiền</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="order.id">
            <span>Đơn hàng</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let payment of payments; trackBy: trackId"
          data-cy="entityTable"
        >
          <td>
            <a [routerLink]="['/payment', payment.id, 'view']">{{
              payment.id
            }}</a>
          </td>
          <td>{{ payment.method }}</td>
          <td>{{ payment.status }}</td>
          <td>{{ payment.paidAt | castToDayjs | formatMediumDatetime }}</td>
          <td>{{ payment.amount }}</td>
          <td>
            <div *ngIf="payment.order">
              <a [routerLink]="['/order', payment.order.id, 'view']">{{
                payment.order.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a
                [routerLink]="['/payment', payment.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">Xem</span>
              </a>
              <a
                [routerLink]="['/payment', payment.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Sửa</span>
              </a>
              <button
                (click)="delete(payment)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Xóa</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
