<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="review()">
      <h2 data-cy="reviewDetailsHeading"><span>Review</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ review()!.id }}</span>
        </dd>
        <dt><span>Rating</span></dt>
        <dd>
          <span>{{ review()!.rating }}</span>
        </dd>
        <dt><span>Comment</span></dt>
        <dd>
          <span>{{ review()!.comment }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{
            review()!.createdDate | castToDayjs | formatMediumDatetime
          }}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ review()!.user?.login }}</span>
        </dd>
        <dt><span>Product</span></dt>
        <dd>
          <div *ngIf="review()!.product">
            <a [routerLink]="['/product', review()!.product!.id, 'view']">{{
              review()!.product!.name
            }}</a>
          </div>
        </dd>
      </dl>

      <button
        type="submit"
        (click)="previousState()"
        class="btn btn-info"
        data-cy="entityDetailsBackButton"
      >
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button
        type="button"
        [routerLink]="['/review', review()!.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
